body{
    background-color:rgb(255, 255, 255);
    background-image: url(https://cdn.shopify.com/s/files/1/3026/6974/files/sunbeams-forest-landscape-river-water_1024x1024.jpg?v=1532619804);
    background-repeat: repeat;
    background-attachment: fixed;

}

/* {
    background-color:rgb(91, 88, 95);
}*/

h1{
    color:blue;
    background-color: aqua;
}

h2{
    color:rgb(197, 82, 44);
}

p{
    color:#bf42f5;
}

p1{
    color:rgb(16, 227, 16);
}